@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --prime-color: #401f71;
  --second-color: #824d74;
  --terc-color: #be7b72;
  --cuart-color: #fdaf7b;

  --button-color-one: #eeeeee;
  --button-color-two: #76abae;
  --button-color-three: #31363f;
  --button-color-four: #222831;

  --speed-slow: 8000ms;
  --speed-fast: 5000ms;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  z-index: 0;
  overflow: hidden;
}

.landing-container {
  background-color: var(--second-color);
  position: relative;
  z-index: 1;
}

.split {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

.split.one {
  background: var(--prime-color);
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: background var(--speed-slow) ease-in, transform 0.5s linear;
  transform: translateX(0);
  transform: translateZ();
}

.split.two {
  background-color: var(--prime-color);
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s linear;
  transform: translateX(100%);
  transform: translateZ();
}

.title.one {
  cursor: default;
  position: absolute;
  top: 10%;
  color: var(--cuart-color);
  font-size: 4rem;
  opacity: 1;
  z-index: 10;
  transition: all var(--speed-fast) linear;
  transform: translateZ();
}

.star {
  position: relative;
  bottom: 0%;
  left: 0.5%;
  scale: 2;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 70px solid var(--second-color);
  transform: rotate(35deg);
  z-index: 3;
  transition: opacity var(--speed-fast) linear;
  transition: scale var(--speed-slow) linear;
  transform: translateZ();
}

.star::before {
  content: '';
  position: absolute;
  top: -45px;
  left: -65px;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 80px solid var(--second-color);
  transform: rotate(-35deg);
  z-index: 3;
}

.star::after {
  content: '';
  position: absolute;
  top: 3px;
  left: -105px;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 70px solid var(--second-color);
  transform: rotate(-70deg);
  z-index: 3;
}

.corona {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  z-index: 5;
  transition: all var(--speed-fast) ease-in-out;
  transform: translateZ();
}

.subtitle {
  position: absolute;
  top: 38%;
  opacity: 0;
  color: var(--cuart-color);
  font-size: 2rem;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 3;
  width: 500px;
  z-index: 5;
  transition: all var(--speed-slow) linear;
  transform: translateZ();
}

.btn.one {
  position: absolute;
  opacity: 0;
  left: 45%;
  bottom: 5%;
  border: 5px solid transparent;
  background: var(--button-color-two);
  color: var(--button-color-four);
  border-radius: 40px;
  padding: 15px 30px;
  overflow: hidden;
  width: 100px;
  transition: all 1.2s, border 0.5s 1.2s, box-shadow 0.3s 1.5s;
  white-space: nowrap;
  font-family: inherit;
  text-indent: -10;
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-weight: bold;
  transform: translateZ();

  span {
    display: inline-block;
    transform: translateX(300px);
    color: var(--button-color-three);
    font-weight: normal;
    opacity: 0;
    margin-left: 1rem; /* menos separados?*/
    transition: opacity 0.1s 0.5s, transform 0.4s 0.5s;
  }

  &:hover {
    cursor: pointer;
    text-indent: 10;
    transform: translateX(-60px);
    background: var(--button-color-four);
    color: var(--button-color-one);
    width: 250px;
    border: 10px solid var(--button-color-two);
    box-shadow: 3px 3px 2px rgba(black, 0.15);

    span {
      color: var(--button-color-one);
      transform: translateX(0);
      opacity: 1;
    }
  }

  &:focus {
    outline: none;
    color: var(--button-color-one);
  }
}

.profecia-container {
  background-image: url(./Archivos/profBg.jpg);
  opacity: 0;
  max-width: 1300px;
  width: 80vw;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  padding: 6rem;
  transition: opacity var(--speed-fast) linear;
  transform: translateZ();
}

.title.two {
  cursor: default;
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--cuart-color);
  font-size: 3rem;
  opacity: 0.7;
  z-index: 5;
  transform: translateZ();
  transition: opacity 0.5s linear;
}

.paraf {
  cursor: default;
  background-color: var(--second-color);
  overflow: hidden;
  border: 0.2rem solid var(--terc-color);
  opacity: 1;
  border-radius: 25px;
  color: white;
  line-height: 1.5;
  letter-spacing: 1.5;
  font-weight: 400;
  max-width: 60vw;
  margin: 3rem auto;
  text-indent: 7%;
  padding: 1.5rem 3rem;
  z-index: 5;
}

.paraf.profeta {
  cursor: url(./Archivos/colibriCursor.png), auto;
  background-color: var(--cuart-color);
  border: 0.5rem solid var(--second-color);
  border-radius: 25px;
  color: var(--second-color);
  font-weight: 900;
  max-width: 90vw;
  margin: 1rem auto;
  text-indent: 10%;
  padding: 1.5rem 3rem;
  z-index: 5;
}

.paraf.profeta.ultimo {
  text-align: center;
  text-indent: 0;
  max-width: 200px;
  white-space: nowrap;
}

.btn.two {
  opacity: 0;
  position: absolute;
  left: 50%;
  bottom: 2.5%;
  transform: translateX(-50%);
  border: 5px solid transparent;
  background: var(--button-color-two);
  border-radius: 40px;
  padding: 15px 20px;
  overflow: hidden;
  width: 100px;
  transition: all 1.2s, border 0.5s 1.2s, box-shadow 0.3s 1.5s;
  white-space: nowrap;
  font-family: inherit;
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-weight: bold;
  transform: translateZ();

  a {
    position: relative;
    color: var(--button-color-three);
    text-decoration: none;
    margin: 0;
    height: 30px;
  }

  a span {
    display: inline-block;
    transform: translateX(300px);
    font-weight: normal;
    opacity: 0;
    margin-left: 1rem; /* menos separados?*/
    transition: opacity 0.1s 0.5s, transform 0.4s 0.5s;
  }
  &:hover {
    cursor: pointer;
    text-indent: 10;
    background: var(--button-color-four);
    width: 250px;
    border: 10px solid var(--button-color-two);
    box-shadow: 3px 3px 2px rgba(black, 0.15);
    a {
      color: var(--button-color-one);
    }
    a span {
      transform: translateX(0);
      opacity: 1;
    }
  }
  &:focus {
    outline: none;
    color: var(--button-color-one);
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--second-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primer-color);
  border: 1px solid var(--cuart-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--cuart-color);
}
