@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*'https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap'*/
:root {
  --prime-color: #401f71;
  --second-color: #824d74;
  --terc-color: #be7b72;
  --cuart-color: #fdaf7b;

  --button-color-one: #eeeeee;
  --button-color-two: #76abae;
  --button-color-three: #31363f;
  --button-color-four: #222831;

  --speed-slow: 6000ms;
  --speed-fast: 3000ms;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif; /*'Sometype Mono', monospace; */
  background-color: var(--prime-color);
  height: 100vh;
  overflow: hidden;
}

/* Menu Start */

.menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.5s linear;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

.menu-container.show-nav {
  transform: rotate(-15deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.nav-circle {
  background-color: var(--second-color);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
  z-index: 10;
}

.menu-container.show-nav .nav-circle {
  transform: rotate(-78deg);
}

.nav-circle button {
  cursor: pointer;
  background: transparent;
  color: var(--cuart-color);
  font-size: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  border: 0;
}

.nav-circle button:focus {
  outline: none;
}

.nav-circle button#open-menu {
  left: 60%;
}

.nav-circle button#close-menu {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.menu-container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.2s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  cursor: pointer;
  text-transform: uppercase;
  color: var(--cuart-color);
  margin: 20px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav ul li a {
  color: var(--cuart-color);
  text-decoration: none;
  &:focus {
    outline: none;
    color: var(--cuart-color);
  }
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav ul li + li {
  margin-left: 10px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 20px;
  transform: translateX(-200%);
}

nav ul li + li + li + li {
  margin-left: 30px;
  transform: translateX(-250%);
}

/* CONTENT */

.navigation-container {
  position: relative;
  margin-top: 20px;
  width: 90vw;
  height: 90vh;
}

.map-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 700px;
  border-radius: 2rem;
  opacity: 0;
  z-index: 1;
  transition: opacity var(--speed-fast) linear;
  transition: transform 0.5s linear;
  &:hover {
    opacity: 1;
  }
}

.map.btn {
  position: absolute;
  opacity: 1;
  background: var(--button-color-three);
  color: var(--button-color-two);
  border: 3px solid var(--button-color-one);
  border-radius: 50%;
  padding: 0;
  overflow: hidden;
  width: 20px;
  height: 20px;
  transition: all 1.2s, border 0.5s 1.2s, box-shadow 0.3s 1.5s;
  text-align: center;
  font-family: inherit;
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-weight: bold;
  span {
    display: inline-block;
    transform: translateX(300px);
    font-weight: normal;
    opacity: 0;
    margin-top: -20px;
    transition: opacity 0.1s 0.5s, transform 0.4s 0.5s;
  }
  &.hover {
    background: var(--button-color-four);
    color: var(--button-color-one);
    padding: 20px;
    width: 200px;
    height: 50px;
    border: 10px solid var(--button-color-two);
    border-radius: 25px;
    box-shadow: 3px 3px 2px rgba(black, 0.15);
    span {
      color: var(--button-color-one);
      transform: translateX(0px);
      opacity: 1;
    }
  }

  &:focus {
    outline: none;
    color: var(--button-color-one);
  }
}

.map.btn#cumen {
  top: 43%;
  left: 36.5%;
}

.map.btn#luzerin {
  top: 78%;
  left: 24.5%;
}

.map.btn#mnus {
  top: 50%;
  left: 16.5%;
}

.map.btn#cllsns {
  top: 72%;
  left: 27.5%;
}

/*chapter navigation*/
.chapter-container {
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  transition: transform 0.5s linear;
  transform: translateX(150%);
  transform: translateZ();
}

.left-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.left-slide > div {
  background-color: #161616;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.chapter-title {
  font-size: 40px;
  text-align: center;
}

.chapter-subtitle {
  max-width: 150px;
  text-align: center;
  text-wrap: wrap;
}

.right-slide {
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.right-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.btn.cap {
  position: absolute;
  right: 45%;
  transform: translateX(35%);
  opacity: 1;
  background: var(--button-color-two);
  color: var(--button-color-four);

  border: 3px solid transparent;
  border-radius: 40px;
  padding: 15px 15px;
  overflow: hidden;
  width: 100px;

  white-space: nowrap;
  font-family: inherit;
  font-size: 1rem;
  letter-spacing: 0.5px;
  text-indent: 10px;
  font-weight: bold;
  transition: all 1.2s, border 0.5s 1.2s, box-shadow 0.3s 1.5s;
  z-index: 110;

  a {
    position: relative;
    color: var(--button-color-three);
    text-decoration: none;
    margin: 0;
    height: 30px;
  }
  a span {
    display: inline-block;
    transform: translateX(300px);
    font-weight: normal;
    opacity: 0;
    margin-left: 1rem; /* menos separados?*/
    transition: opacity 0.1s 0.5s, transform 0.4s 0.5s;
  }

  &:hover {
    cursor: pointer;
    text-indent: 0;
    background: var(--button-color-four);
    width: 250px;
    border: 4px solid var(--button-color-two);
    box-shadow: 3px 3px 2px rgba(black, 0.15);
    a {
      color: var(--button-color-one);
    }
    a span {
      transform: translateX(0);
      opacity: 1;
    }
  }

  &:focus {
    outline: none;
    color: var(--button-color-one);
  }
}

/*styling change position here*/
.action-buttons button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 35%;
  background-color: #ffffff77;
  color: #000000;
  border: none;
  font-size: 16px;
  padding: 15px;
  z-index: 100;
  transition: background-color 0.5s ease;
  &:hover {
    background-color: #ffffffa1;
  }
  &:focus {
    outline: none;
  }
}

/*positioning*/
.action-buttons button#down {
  transform: translateX(-100%);
  border-radius: 50% 0 0 50%;
}

.action-buttons button#up {
  transform: translateY(-100%);
  border-radius: 0 50% 50% 0;
}

/* start of reading counter */

.reading-container footer {
  position: fixed;
  bottom: -2rem;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--cuart-color);
  border-radius: 15px;
  height: 7rem;
  width: 95vw;
  z-index: 2;
}

.progress-container {
  position: relative;
  top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 0.6rem;
  margin: 0.5rem;
}

.progress-container::before {
  content: '';
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: 4;
  transition: 0.4s ease;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #999;
  border: 3px solid var(--line-border-empty);
  border-radius: 50%;
  height: 30px;
  width: 20px;
  transition: 0.4s ease;
  z-index: 5;
}

.circle.active {
  border-color: var(--line-border-fill);
}

/*

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
} */
